body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header-nav {
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}
ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

ul li {
 list-style: none;
 position: relative;
 margin-right: 2rem;
}

ul li::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: rgb(145, 133, 133);
  margin-top: 20px;
  left: 0;
  transition: all 0.3s;
}

ul li:hover::after {
  height: 2px;
  width: 100%;
}


.form {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  max-height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control {
  margin-bottom: .8rem;
}

.form-control input[type="text"],
.form-control input[type="tel"],
.form-control input[type="email"],
.form-control textarea {
  display: block;
  margin-top: 0.3rem;
  width: 100%;
  padding: 0.5rem;
}

.form-control small {
  visibility: hidden;
}

.form-button{
  background-color:darkgreen;
}