body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-nav {
  padding-top: 10px;
}
.close{
  position:absolute;
  top: 5px;
  right: 10px;
}
a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}
ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

ul li {
  list-style: none;
  position: relative;
  margin-right: 2rem;
}

ul li::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: rgb(145, 133, 133);
  margin-top: 20px;
  left: 0;
  transition: all 0.3s;
}

ul li:hover::after {
  height: 2px;
  width: 100%;
}

.form {
  box-shadow: 1px 1px 10px navy;
  padding: 2rem 1rem;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  max-height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, white, rgb(204, 226, 240));
}

.form-control {
  margin-bottom: 0.8rem;
}
.form-control label
{color: navy;}

.form-control input[type="text"],
.form-control input[type="tel"],
.form-control input[type="email"],
.form-control textarea {
  display: block;
  margin-top: 0.3rem;
  width: 100%;
  padding: 0.5rem;
}

.form-control small {
  visibility: hidden;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
}

.radio-toolbar label {
    display: inline-block;
    background-color: steelblue;
    margin-top: 5px;
    padding: 10px 13px;
    border: 2px solid navy;
    border-radius: 4px;
    color: whitesmoke;
}

.radio-toolbar label:hover {
  background-color: whitesmoke;
  color: steelblue;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: whitesmoke;
    border-color: navy;
    color: steelblue;
}

.form-button {
  background-color: rgb(50, 214, 45);
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0px 5px 8px #888888;
}

.form-control.success input,
.form-control.success textarea {
  border: 2px solid #2ecc71;
}

.form-control.error input,
.form-control.error textarea {
  border: 2px solid #e74c3c;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#form {
  background-image: linear-gradient(direction, rgb(175, 187, 255), white);
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}
/* The Close Button */
.close {
  color: rgb(201, 199, 199);
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: none;
  border: none;
}

.close:hover,
.close:focus {
  color: navy;
  text-decoration: none;
  cursor: pointer;
}
.hero {
  display: flex;
  height: 100vh;
  padding: 5rem 2rem;
  max-width: 400px;
  margin: 0 auto;
}
 h2, p {
   font-family: sans-serif;
  text-align: center;
    font-weight: 400px;
  }
