
.form {
  overflow-y: scroll;
  box-shadow: 1px 1px 10px navy;
  padding: 2rem 1rem;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  max-height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, white, rgb(204, 226, 240));
}

@media screen and (min-width: 1140px) {
  .form {
    overflow-y: hidden;
  }
}

.form-control {
  margin-bottom: 0.8rem;
}
.form-control label
{color: navy;}

.form-control input[type="text"],
.form-control input[type="tel"],
.form-control input[type="email"],
.form-control textarea {
  display: block;
  margin-top: 0.3rem;
  width: 100%;
  padding: 0.5rem;
}

.form-control small {
  visibility: hidden;
}