.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: steelblue;
      margin-top: 5px;
      padding: 10px 13px;
      border: 2px solid navy;
      border-radius: 4px;
      color: whitesmoke;
  }
  
.radio-toolbar label:hover {
    background-color: whitesmoke;
    color: steelblue;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: whitesmoke;
      border-color: navy;
      color: steelblue;
  }
  
  
  .form-control.success input,
  .form-control.success textarea {
    border: 2px solid #2ecc71;
  }
  
  .form-control.error input,
  .form-control.error textarea {
    border: 2px solid #e74c3c;
  }
  
  .form-control.error small {
    visibility: visible;
    color: #e74c3c;
  }